<% @jobs.each do |job| %>

<div class="well span8">
  <div>
    <h4>Job Title: <%= link_to job.name, job_path(job) %></h4>
    <p><strong>Description:</strong> <%= job.description %></p>
  </div>

  <p>
    <%= render 'current_punch', job: job %>
  </p>
  <div class="buttons">
  <% if job.punches.any? %>

    <% if job.punches.last.punch_type == 'out' %>
      <%= render 'form' , job: job %>
    <% else %>
      <%= render 'form' , type: 'out', btn_label: 'Punch Out', btn_class: 'btn btn-danger', job: job %> 
    <% end %>   
  
  <% else %>
    <%= render 'form' , job: job %>
  <% end %>
  
  <h3>Total Time: <%= total_time_on_job(job) %></h3>

  </div>
</div>  

<% end %>