<div class="well">
  <h4>Hello <%= current_user.username.capitalize %></h4>
  <% if @user.jobs == 0 %>
    You dont have any jobs. 
  <% else %>
    You currently have <strong><%= @user.jobs.size %></strong> jobs.
  <% end %>
  <br><br>
  <%= link_to 'Add a Job', new_job_path, class: 'btn btn-info' %>

</div>



<% @user.jobs.each do |job| %>

<div class="well span8">
  <div>
    <h4>Job Title: <%= link_to job.name, job_path(job) %></h4>
    <p>
      <strong>Description:</strong> <%= job.description %>
    </p>
  </div>
  <%= render 'current_punch', job: job %>
  <div class="buttons">
    <%= render 'shared/punch_buttons', job: job %>
  </div>
  <h3>
    Total Time: <%= format_total_time(job.total_time_on_job) %>
  </h3>

</div>  

<% end %>