<p><%= link_to 'Back to job list', jobs_path  %> </p>
<p><%= link_to '[edit project]', edit_job_path(@job) %></p>
<h3> <%= @job.name %> </h3>
<div>
  This project is currently: <%= @job.status ? "active" : "not active" %>
</div>

<table class="table table-striped">
  <tr>
    <th>Date</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Total</th>    
  </tr>
  <% @job.punches.each do |punch| %>
    <tr>
      <td> <%= punch_in_date(punch.created_at) %> </td>
      <td><%= punch_in_time(punch.created_at) %></td>
      <td><%= punch_out_time(punch.punch_out) %></td>
      <td> <%= punch.time_on_punch %> </td>
    </tr>
  <% end %>
</table>

<h4>
  Total time on this job: <%= format_total_time(@job.total_time_on_job) %>
</h4>
<div>
  <%= render 'shared/punch_buttons', job: @job %>
</div>
