<p><%= link_to 'Back to job list', jobs_path  %> </p>
<p><%= link_to '[edit project]', edit_job_path(@job) %></p>
<h3> <%= @job.name %> </h3>
<div>
  This project is currently: <%= @job.status ? "active" : "not active" %>
</div>
<ul class="punch_list">
  <% @job.punches.each do |punch| %>
  <li>
    <%= "Punch #{punch.punch_type}: #{format_datetime(punch.created_at)}" %>
    <strong>
      <% if punch.time_since_last and punch.punch_type == 'out' %>
      <%= "Time on the clock: #{time_on_punch(punch)}" %>
      <% end %>
    </strong>
  </li>
  <% end %>
</ul>

  <h4>
    Total time on this job: <%= total_time_on_job(@job) %>
  </h4>
  <div>
    <% if @job.punches.any? %>
      <% if @job.punches.last.punch_type == 'out' %>
        <%= render 'form', job_page: true , job: @job %>
      <% else %>
        <%= render 'form' , type: 'out', btn_label: 'Punch Out', btn_class: 'btn btn-danger', job_page: true, job: @job %> 
      <% end %>   
    <% else %>
      <%= render 'form', job_page: true , job: @job %>
    <% end %>
  </div>
